*~
\#*
.\#*
.DS_Store
compiled/
/doc/
/documentation/*.html
/documentation/*.css
/documentation/*.js
/documentation/*.png
/documentation/images/*.aux
/documentation/images/*.log
/examples/**/pollen-cache
/examples/**/*.html
/examples/**/*.atom
/examples/**/*.css
/examples/**/*.js
